@charset "UTF-8";

/* Estrutura padrão */
article, aside, body, footer, header, html, nav, section {
	margin: 0;
	padding: 0;
}
p, a, ul, li {
	margin: 0;
	padding: 0;
}
html {
    background-color: #4a4a4a;
}
body {
    background-color: white;
    font-family: "Verdana", "Impact", "Liberation Sans", "Arial", sans-serif;
	font-size: 0.9em;
    margin: 0 auto;
    width: 100%;
}
article {
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    margin: 10px auto 20px auto;
    max-width: 800px;
    min-height: calc(100vh - 117px);
    width: calc(95% - 2px);
}
footer {
    background-color: #111;
    clear: both;
    font-size: 12px;
    height: 48px;
    text-align: center;
    width:100%;
}
footer p {
    color: #555555;
    font-size: 0.8em;
    padding-top: 10px;
}


/* Estilos de texto */
h1, h2, h3, h4, h5, h6 {
    background: linear-gradient(#a5a5a5, #888888);
    color: white;
	margin: 0;
	padding: 5px;
}
p {
    color: black;
    line-height: 1.5em;
	margin: 10px 20px;
    text-decoration: none;
}
a {
    color: #00a7ff;
    text-decoration: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

/* Especiais */
.hide {
    display: none;
}
.autor {
    color: #a3a3a3;
	font-size: 0.7em;
}
.titulo {
    font-size: 1.2em;
    font-weight: bolder;
	padding: 10px 0;
}
.small {
    font-size: 0.8em;
}

/* Listas do Article */
article ul {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    text-decoration: none;
}
article ul li { 
    background: #fafafa;
    line-height: 1.5em;
    margin: 5px 0;
    padding: 8px 10px;
    text-decoration: none;
}
article ul li:before {
    color: gray;
    content: "•";
    padding-right: 8px;
}
article ul li a {
    text-decoration: none;
}

/*---------------------------------------------*/
header {
    height: 37px;
	background: linear-gradient(#717171, #2c2c2c);
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    overflow: hidden;
}
.logo {
    float: left;
    display: block;
    margin: 10px 0;
}
.wrapper ul {
    float: right;
}
.wrapper ul li {
    display: inline-block;
    background: linear-gradient(#777777, #464646);
    padding: 10px 20px;
}
.wrapper ul li:hover {
    background: linear-gradient(#868686, #6a6a6a);
}
.wrapper a {
    color: #fff;
    text-decoration: none;
}
/*---------------------------------------------*/

/* Classes do Filtro */
.filtro {
	margin: 0;
	padding: 10px 20px;
    padding-bottom: 0;
}
.filtro p {
    margin: 0;
    padding: 0;
}
.filtro ul {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.filtro li {
    margin: 1px 0;
    padding: 5px;
}
.filtro_hide ul, .filtro_show ul { 
    list-style: none;
}
.filtro_hide li, .filtro_show li { 
    display: inline-block;
}
.filtro_hide { 
    display: none; 
}
.filtro p a, .filtro ul li a {
    cursor: pointer;
}